//imports
@import './base.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Constants */

$clr-primary-400: #5C469C;
$clr-primary-500: #0C134F;
$clr-primary-800: #27053d;
$clr-primary-900: #020004;

$clr-accent-600: #5C469C;
$clr-accent-400: #D4ADFC;
$clr-accent-300: #e4cff9;
$clr-accent-200: #fcfcfc;
$clr-accent-100: #fffefe;

$clr-muted-400: #ececec;

$whitespace-sides: 8rem;


$fs-h2: 3.6rem;
$fs-h3: 2.4rem;

$medium-breakpoint: 760px; // for Medium devices (larger phones, small tablets)
$large-breakpoint: 992px; // for Large devices (tablets, small laptops)
$extra-large-breakpoint: 1200px; // for Extra-large devices (large laptops, desktops) 


/* Basic */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    scroll-padding-top: 70px;
    font-size: 10px;
}

body {
    background-color: $clr-accent-100;

    background-image: url(../assets/images/hero-illustration.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: $clr-primary-900;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    position: relative;
}


section {
    padding-inline: $whitespace-sides;
    padding-block: $whitespace-sides;
}

@media (max-width: $medium-breakpoint) {
    section {
        padding-inline: 2rem;
        padding-block: 6rem;
    }
}

section:nth-child(even) {
    background: linear-gradient(90deg, rgba(255, 254, 254, 0.1) 0%, rgba(255, 254, 254, 0.2) 2%, rgba(255, 254, 254, 0.4) 90%, rgba(255, 254, 254, 0) 100%);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}


img {
    width: 100%;
}


h1,
h2,
h3,
h4,
h5 {
    color: $clr-primary-800;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
}

/* End Basic */


// Mixins 

// Mixin for creating a flex container
@mixin flex-container($direction: row, $justify: flex-start, $align: flex-start, $flex-wrap: wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $flex-wrap;
}

@mixin para-width {
    @media screen and (min-width: $medium-breakpoint) {
        p {
            max-width: 40vw;
        }
    }
}

//Button or Links
.btn {
    padding: 1.4rem 2em;
    border: solid 1px transparent;
    border-radius: .2em;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.btn-primary {
    background-color: $clr-primary-400;
    color: $clr-accent-200;

    &:hover {
        color: $clr-accent-100;
        filter: brightness(90%);
        box-shadow: 0px 2px 12px rgba(0, 36, 53, 0.662);
    }
}

.btn-secondary {
    background-color: $clr-accent-300;
    border: 2px solid $clr-primary-900;
    color: $clr-primary-900;

    &:hover {
        filter: brightness(90%);
        border: 2px solid $clr-accent-600;

        box-shadow: 0px 2px 6px rgba(192, 233, 253, 0.459);
    }
}


a {
    padding: 1rem;
    text-decoration: none;
    color: $clr-primary-900;
    font-weight: 500;
    line-height: 1;
    transition: all 300ms ease-in-out;

    &:hover {
        color: $clr-primary-400;
    }
}

//Text Effects
.text-w-color {
    color: $clr-primary-400;
}

.premium {
    background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
    background-size: 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
    animation: MoveBackgroundPosition 4s ease-in-out infinite;
}

@keyframes MoveBackgroundPosition {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.heading-icon img {
    width: max-content;
    margin-right: auto;
    height: 4.8rem;
    object-fit: contain;
}

.typing {
    font-size: 6.4rem;
    margin-bottom: 3.5rem;
    font-weight: 800;
    transition: color 150ms ease-in;
    position: relative;
}


// Hamburger

.hamburger {
    cursor: pointer;
    width: 30px;
    /* Width of the hamburger */
    height: 25px;
    /* Total height of the hamburger */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0;
    /* Hide the 'Hamburger' text */
}

.hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background: $clr-primary-900;
    transition: all 0.3s ease;
    z-index: 99999;
}

.hamburger.cross span {
    background: $clr-accent-200;

}

/* Transform the hamburger into a cross when .cross is added to the element */
.hamburger.cross span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.cross span:nth-child(2) {
    opacity: 0;
}

.hamburger.cross span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -8px);
}

// Header

.header-container {
    @include flex-container(row, space-between, center);
    width: 100%;
    padding-inline: $whitespace-sides;
    padding-block: 1.2rem;
    position: fixed;
    z-index: 9999;

    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.1);

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    .logo-container-img img {
        max-height: 3.5rem;
        object-fit: contain
    }

    .nav-list {
        @include flex-container(row, center, center);
        gap: 2rem;

    }

    @media screen and (min-width: $medium-breakpoint) {
        #hamburger {
            display: none;
        }
    }

    @media (max-width: $medium-breakpoint) {
        padding: 2rem;
        // position: relative;


        .nav-list {
            @include flex-container(column, center, flex-start);
            -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
            background-color: $clr-accent-600;
            position: fixed;
            padding-left: 2rem;
            top: 0px;
            right: 0px;
            transform: translateX(100%);
            height: 100vh;
            width: 50vw;
            gap: 4rem;
            transition: transform .6s cubic-bezier(.03, .94, .24, .98);

            &.inview {
                transform: translateX(0%);
            }

            .nav-link a {
                color: $clr-accent-200;

            }

            .btn-navigation {
                border: 1px solid $clr-accent-200;
            }
        }

    }


}


//Hero Section

#hero {
    min-height: 100vh;
    @include flex-container(row, space-between, center, nowrap);
    gap: 4rem;

    h1 {
        font-size: 5.4rem;
        font-weight: 700;
        margin-bottom: 0.4em;
    }

    p {
        margin-bottom: 10rem;
        letter-spacing: 1px;
    }

    @include para-width;


    #elevate-text {
        position: relative;
        color: $clr-primary-400;
        font-weight: 900;
    }

    .hero-button-group {
        @include flex-container(row, flex-start, center);
        gap: 2rem;

        .btn-link {
            position: relative;
            z-index: 99;
            transition: all 300ms ease-in-out;
        }
    }

    @media (max-width: $medium-breakpoint) {
        @include flex-container(row, center, center, nowrap);

        flex-direction: column-reverse;
        padding: 6rem 2rem;

        h1 {
            font-size: 3.2rem;
        }

        p {
            margin-bottom: 6rem;
        }

    }

}

#problem-statement {
    @include flex-container(row, space-between, flex-start);

    h2 {
        font-size: $fs-h2;
        font-weight: 700;
        margin-bottom: 0.4em;
    }

    @include para-width;

    #problem-span {
        position: relative;

        @media (min-width: 1400px) {
            &::after {
                content: url('../assets/icons/arrow-swiggly.png');
                position: absolute;
                bottom: -15rem;
                left: 2rem;
                opacity: 0.6;
                pointer-events: none;
            }
        }
        
    }

    .ps-chat {
        margin-top: 16rem;

        .from-them {
            border-top-left-radius: 0px;
        }
    }


    h3,
    .our-reply {
        padding: 1rem 2.4rem;
        margin-bottom: 0.8rem;
        width: max-content;
        background-color: #eee;
        font-size: 1.8rem;
        font-weight: 400;
        border-radius: 100vw;
        position: relative;
        z-index: 5;
    }



    .our-reply {
        margin-top: 2.4rem;
        margin-left: 5rem;
        font-weight: 500;
        background-color: $clr-accent-300;
        background-image: linear-gradient(275deg, hsl(278, 100%, 88%) 0%, #d4e9ff 98%, rgba(251, 245, 254, 0.032) 100%);
        border-bottom-right-radius: 0px;
    }

    #read-reciept {
        margin-left: auto;
        margin-right: 0.5rem;
        width: min-content;
        position: relative;
        color: blueviolet;


        #first-check {
            position: absolute;
            left: -2.5rem;
            opacity: 0.8;
        }

        #second-check {
            position: absolute;
            left: -2rem;
        }
    }

    @media (max-width: $medium-breakpoint) {
        flex-direction: column;
        padding: 6rem 2rem;

        h2 {
            font-size: 2.8rem;
        }

        #problem-span {
            position: relative;

            &::after {
                display: none;
            }
        }

        .ps-chat {
            max-width: 40rem;
            margin-top: 6rem;
        }


        h3,
        .our-reply {
            width: clamp(90vw, 30rem, 32rem);
            max-width: 100%;
            margin-bottom: 0.6rem;
        }

        .our-reply {
            margin-left: 0px;
        }

    }
}

#solution-statement {
    h2 {
        font-size: $fs-h2;
        font-weight: 700;
        margin-bottom: 0.4em;
        display: block;

    }

    .solution-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: end;
        gap: 0px;
        margin-left: 40%;
        gap: 0.4rem;

        .solution-grid-item {
            height: 100%;
            width: 100%;
            padding: 4rem;
            background-color: $clr-muted-400;
            cursor: pointer;
            transition: all 500ms ease-in-out;

            &:hover {
                transform: scale(1.015);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }

            &:first-child {
                border-top-left-radius: 4rem;
                background-image: linear-gradient(275deg, hsl(278, 100%, 88%) 0%, #d4e9ff 98%, rgba(251, 245, 254, 0.032) 100%);

            }

            &:last-child {
                border-bottom-right-radius: 4rem;
                background-image: linear-gradient(275deg, hsl(278, 100%, 88%) 0%, #d4e9ff 98%, rgba(251, 245, 254, 0.032) 100%);
            }

            h3 {
                font-size: $fs-h3;
                font-weight: 600;
                margin-bottom: 0.4em;
            }

            .item-icon img {
                width: max-content;
                margin-right: auto;
                height: 5.4rem;
                object-fit: contain;
            }
        }

    }


    @media (max-width: $medium-breakpoint) {
        flex-direction: column;
        padding: 4rem 2rem;

        h2 {
            font-size: 2.8rem;

            .typing {
                font-size: 3.6rem;
            }
        }


        .solution-grid {

            grid-template-columns: 1fr;
            grid-template-rows: auto;
            justify-content: center;
            align-items: end;
            margin-top: 6rem;
            margin-left: unset;
            gap: 1rem;

            .solution-grid-item {
                padding: 3rem;

                &:first-child {
                    border-top-left-radius: unset;
                    background-image: unset;

                }

                &:last-child {
                    border-bottom-right-radius: unset;
                    background-image: unset;

                }
            }

        }

    }

}

#portfolio {
    h2 {
        font-size: $fs-h2;
        font-weight: 700;
        margin-bottom: 0.4em;
    }

    .portfolio-video {
        position: relative;
        margin-top: 4rem;
        margin-left: auto;
        max-width: clamp(400px, 70%, 80vw);
        aspect-ratio: 16/9;
    }

    #video-thumbnail {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        cursor: pointer;
        position: absolute;
        top: 0;
    }

    #video {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        object-fit: cover;
        display: none;
        /* Hide video initially */
    }

    @media (max-width: $medium-breakpoint) {
        flex-direction: column;
        padding: 8rem 2rem;

        h2 {
            font-size: 2.8rem;
        }

        .portfolio-video {
            margin-top: 6rem;
            margin-left: 0px;
        }
    }
}

#our-process {
    h2 {
        font-size: $fs-h2;
        font-weight: 700;
        margin-bottom: 0.4em;
    }

    .steps-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        margin-top: 6rem;
        position: relative;
        z-index: 9;



        .step {
            @include flex-container(column, flex-start, flex-start);
            border: 2px solid rgba(128, 128, 128, 0.087);
            border-bottom: transparent;
            background-color: rgba(231, 202, 239, 0.326);
            backdrop-filter: blur(16px);
            text-align: left;
            padding: 6rem 1.2rem 2.4rem 1.2rem;
            position: relative;
            z-index: 9;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            cursor: pointer;
            transition: all 600ms ease-in-out;

            &:hover {
                background: linear-gradient(180deg, rgb(215, 190, 255) 0%, rgba(244, 220, 255, 0.6) 98%, rgba(254, 251, 255, 0.1) 100%);

                .number {
                    top: -7rem;

                }
            }

            h3 {
                font-size: $fs-h3;
                font-weight: 600;
                margin-bottom: 0.4em;
            }

            .number {
                position: absolute;
                z-index: 99;
                top: -4rem;
                font-size: 5.6rem;
                font-weight: 900;
                opacity: 0.6;
                color: $clr-accent-400;
                transition: all 300ms ease-in-out;

            }

            &:nth-child(1) {
                margin-top: 16rem;
            }

            &:nth-child(2) {
                margin-top: 12rem;
            }

            &:nth-child(3) {
                margin-top: 8rem;
            }

            &:nth-child(4) {
                margin-top: 4rem;
            }

            &:nth-child(5) {
                margin-top: 0rem;
            }
        }
    }

    @media (max-width: $medium-breakpoint) {
        flex-direction: column;
        padding: 8rem 2rem;

        h2 {
            font-size: 2.8rem;
        }

        .steps-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 6rem;
            margin-top: 6rem;
            position: relative;
            z-index: 9;

            .step {
                background-color: rgba(231, 202, 239, 0.326);
                padding: 4rem 2.4rem 2.4rem 2.4rem;

                &:nth-child(1) {
                    margin-top: 0px;
                }

                &:nth-child(2) {
                    margin-top: 0px;
                }

                &:nth-child(3) {
                    margin-top: 0px;
                }

                &:nth-child(4) {
                    margin-top: 0px;
                }

                &:nth-child(5) {
                    margin-top: 0px;
                }
            }
        }
    }

}

#value-proposition {

    @include para-width;
    position: relative;



    h2 {
        font-size: $fs-h2;
        font-weight: 700;
        margin-bottom: 0.4em;
    }


    .value-grid {
        width: 50%;
        margin-left: auto;
        margin-top: -15rem;
        display: grid;
        grid-template-columns: 1fr;
        padding-inline: 4rem;



        .value-grid-item {
            padding: 4rem;
            width: max-content;
            background-color: $clr-muted-400;
            cursor: pointer;
            transition: all 500ms ease-in-out;


            &:hover {
                transform: scaleY(1.02);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            }

            &:first-child {
                border-top-left-radius: 4rem;

            }

            &:nth-child(odd) {
                background-image: linear-gradient(275deg, hsl(278, 100%, 88%) 0%, #d4e9ff 98%, rgba(251, 245, 254, 0.032) 100%);

            }

            &:last-child {
                border-bottom-right-radius: 4rem;

            }

            h3 {

                font-size: $fs-h3;
                font-weight: 600;
                margin-bottom: 0.4em;
            }

            p {
                width: 40ch;
            }
        }

    }


    @media (max-width: $medium-breakpoint) {
        padding: 6rem 2rem;

        h2 {
            font-size: 2.8rem;
        }

        .value-grid {
            width: 100%;
            margin-left: 0px;
            margin-top: 6rem;
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            padding-inline: 0px;


            .value-grid-item {
                padding: 4rem;
                width: 100%;

                &:first-child {
                    border-top-left-radius: 0px;

                }

                &:nth-child(odd) {
                    background-image: unset;

                }

                &:last-child {
                    border-bottom-right-radius: 0px;

                }

                p {
                    width: unset;
                }
            }
        }
    }
}

#packages {
    h2 {
        font-size: $fs-h2;
        font-weight: 700;
        margin-bottom: 0.4em;
    }

    .packages-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        gap: 3.2rem;
        margin-top: 4rem;
    }

    .package {
        @include flex-container(column, space-between, flex-start);
        padding: 4rem;
        background-image: linear-gradient(180deg, #412c81 0%, #5C469C 98%, rgba(121, 23, 170, 0.265) 100%);
        color: $clr-accent-200;
        border: 4px ridge $clr-muted-400;
        border-bottom: transparent;
        border-radius: 4rem 4rem 0rem 0rem;
        height: 100%;
        width: 100%;
        z-index: 4;
        cursor: pointer;
        transition: all 300ms ease-in;

        &:hover {
            transform: scaleY(1.01);
            box-shadow: rgba(46, 102, 158, 0.4) 5px 5px, rgba(46, 102, 158, 0.3) 10px 10px, rgba(46, 102, 158, 0.2) 15px 15px;

        }

        h3 {
            font-size: $fs-h3;
            font-weight: 600;
            color: $clr-accent-200;
            margin-bottom: 0.6em;
        }

        menu {
            font-size: 1.4rem;
            min-height: 20rem;

            li {
                margin-bottom: 0.4rem;
            }
        }

        .package-video {
            width: 100%;
            height: 100%;
            height: 12rem;
            position: relative;
            margin-bottom: 8rem;

            &::after {
                content: '';
                position: absolute;
                z-index: -2;
                left: 0rem;
                bottom: -4.5rem;
                width: 100%;
                border-bottom: 2px solid rgba(183, 183, 183, 0.281);
            }
        }

        .package-cta {
            @include flex-container(column, space-between, flex-start);
            gap: 1rem;
            width: 100%;
            margin-top: 2rem;

            h4 {
                color: $clr-accent-200;
                margin-left: 0.1rem;
                font-size: 1.4rem;
                font-weight: 700;
            }

        }



    }

    @media (max-width: $medium-breakpoint) {
        padding: 6rem 2rem;

        h2 {
            font-size: 2.8rem;
        }

        .packages-container {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            gap: 3.2rem;
            margin-top: 6rem;
        }

        .package {
            padding: 2rem;
            width: max-content;
            border-radius: 0rem;

            h3 {
                margin-left: 0.6em;
            }

            menu {
                font-size: 1.6rem;
                min-height: unset;

                li {
                    margin-bottom: 0.6rem;
                }
            }

            .package-cta {
                h4 {
                    font-size: 1.6rem;
                }
            }

        }

    }
}

#join-us {

    @include flex-container(row, space-between, flex-start, wrap);
    margin-bottom: -16rem;

    h2 {
        font-size: $fs-h2;
        font-weight: 700;
        margin-bottom: 0.4em;
    }

    @include para-width;


    .join-button-group {
        @include flex-container(row, flex-start, flex-start, wrap);
        margin-top: 6rem;
    }


    @media (max-width: $medium-breakpoint) {
        margin-bottom: 0px;
        padding: 6rem 2rem;
        gap: 2rem;

        h2 {
            font-size: 2.8rem;
        }


    }
}



footer {
    padding: 16rem $whitespace-sides 2rem;
    background-color: #faf6ff;


    .footer-container {
        @include flex-container(row, space-between, flex-start)
    }

    .logo-container-img {
        width: 25rem;
    }

    .tagline {
        h3 {
            font-size: 3.2rem;
            padding: 0;
            font-weight: 700;
            max-width: 25ch;
            margin-block: 0.4em;
        }
    }

    menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h4 {
            font-size: 1.8rem;
            font-weight: 700;
            padding: 0 1rem;

        }

        li a,
        address span {
            padding: 0 1rem;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }

    .muted-footer-container {
        padding-top: 2rem;
        @include flex-container(row, space-between, center);
        filter: contrast(10%);
    }

    .w-icon-links {
        img {
            max-width: 1.5rem;
            object-fit: contain;
        }

        h4 {
            padding-left: 0;
        }
    }

    @media (max-width: $medium-breakpoint) {
        padding: 6rem 2rem;

        .footer-container {
            gap: 3rem;
        }
    }
}



#calendly {

    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: -16rem;

    h2 {
        font-size: $fs-h2;
        font-weight: 700;
        margin-bottom: 0.4em;

        span {
            display: block;
            font-size: 3.2rem;
            font-weight: 300;
        }
    }

    .calendly-widget {
        margin-left: 30rem;
    }

    @media (max-width: $medium-breakpoint) {
        gap: 2rem;
        padding: 6rem 2rem;
        margin-bottom: 0px;

        h2 {
            font-size: 2.8rem;
        }

        .calendly-widget {
            margin-left: 0px;
        }



    }
}

#about-hero {
    min-height: 100vh;
    @include flex-container(row, space-between, center, nowrap);
    gap: 4rem;


    h1 {
        font-size: 5.4rem;
        font-weight: 700;
        margin-bottom: 0.4em;
    }

    @include para-width;

    p {
        font-size: 2rem;
        margin-top: 0.8em;
    }

    @media (max-width: $medium-breakpoint) {
        @include flex-container(column-reverse, center, center, nowrap);


        padding: 12rem 2rem 6rem;

        h1 {
            font-size: 3.2rem;
            margin-bottom: 4rem;
        }

        p {
            margin-bottom: 2rem;
        }

    }

}

#about-info {
    @include flex-container(row, space-between, flex-start);

    h2 {
        font-size: $fs-h2;
        font-weight: 700;
        margin-bottom: 0.6em;
    }

    @include para-width;

    p {
        font-size: 2rem;
        margin-top: 0.8em;
    }

    @media (max-width: $medium-breakpoint) {
        @include flex-container(column-reverse, center, center, nowrap);
        padding: 6rem 2rem;


        h2 {
            font-size: 2.8rem;
        }

        p {
            margin-bottom: 2rem;
        }
    }
}

#join-hero {
    @include flex-container(row, flex-start, flex-start);
    gap: 16rem;

    h1 {
        font-size: 5.4rem;
        font-weight: 700;
        margin-top: 10rem;
        margin-bottom: 0.6em;
    }

    h2 {
        font-size: $fs-h2;
        font-weight: 700;
        margin-bottom: 0.6em;
    }

    @include para-width;

    p {
        font-size: 2rem;
        margin-top: 0.8em;
    }

    .join-form {
        margin-top: 4rem;
        padding: 6rem;
        background-color: $clr-accent-400;
        border-radius: 2rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

        .btn-form {
            display: block;
            width: max-content;
            margin-top: 4rem;
        }

        .input-group {
            @include flex-container(column, flex-start, flex-start);
            gap: 0.4rem;
            margin-bottom: 2.4rem;

            label {
                opacity: 0.9;
                font-size: 1.4rem;
            }

            input,
            textarea {
                font-family: inherit;
                font-size: 1.8rem;
                font-weight: 600;
                padding: 1.4rem 1.8rem;
                outline: none;
                border: none;
                border-bottom: 4px solid $clr-primary-500;
                box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            }

            textarea {
                width: 100%;
            }

        }


    }

    @media (max-width: $medium-breakpoint) {
        padding: 12rem 2rem 6rem;
        gap: 4rem;

        h1 {
            font-size: 3.2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .join-form {
            margin: 0px;
            padding: 2rem;
            width: 100%;


            input,
            textarea {
                width: 100%
            }

        }
    }


}

#porfolio-hero {
    @include flex-container(row, flex-start, flex-start);
    gap: 18rem;

    h1 {
        font-size: 5.4rem;
        font-weight: 700;
        margin-top: 10rem;
        margin-bottom: 0.6em;
    }

    @include para-width;

    p {
        font-size: 2rem;
        margin-top: 0.8em;
    }

    .porfolio-hero-image img {
        height: 40rem;
    }

    @media (max-width: $medium-breakpoint) {
        @include flex-container(column-reverse, center, center, nowrap);
        gap: 4rem;


        padding: 12rem 2rem 6rem;

        h1 {
            font-size: 3.2rem;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }

        p {
            margin-bottom: 2rem;
        }

        .porfolio-hero-image img {
            height: 20rem;
        }

    }

}

#porfolio-types {


    @include para-width;


    .porfolio-container {
        h2 {
            font-size: $fs-h2;
            font-weight: 700;
            margin-bottom: 0.6em;
        }

        p {
            font-size: 2rem;
            margin-top: 0.8em;
        }

    }

    .porfolio-grid {
        @include flex-container(row, flex-start, flex-start, wrap);
        gap: 2rem;
        margin-block: 4rem 12rem;

        .porfolio-item {
            width: clamp(30rem, 35rem, 40rem);
        }

        h3 {
            font-size: $fs-h3;
            font-weight: 500;
            margin-left: 2rem;
            margin-top: 2rem;
            border-bottom: 10px solid rgba(184, 184, 184, 0.096);
            width: max-content;
        }
    }

    @media (max-width: $medium-breakpoint) {
        padding: 6rem 2rem;

        .porfolio-container {
            h2 {
                font-size: 2.8rem;
            }

            p {
                margin-bottom: 2rem;
            }
        }

        .porfolio-container:last-child .porfolio-grid:last-child {
            margin-bottom: 0px;
        }
    }
}