---
import Layout from '../layouts/Layout.astro';

import PortfolioHeroImage from "../assets/images/illustration-desk-top.webp";
import GiftIcon from "../assets/icons/gift-dynamic-gradient.png";


---

<Layout title="Disover Our Craft | ElevateHubMedia">
	<main>
		<section id="porfolio-hero">
		  <div class="porfolio-hero-text">
			<h1>See<span class="text-w-color"> Our Creations</span></h1>
			<p>
			  Dive into our world of animation! From simple sketches to full-blown
			  stories, we've turned ideas into visual treats. Check out our
			  portfolio to see how we bring stories to life.
			</p>
		  </div>
		  <div class="porfolio-hero-image">
			<picture class="hero-display-image">
			  
			  <img
				src={PortfolioHeroImage.src}
				loading="eager"
				alt="Know more about our portfolio in Animation Video, with great scripts, voice-overs, music, and animation."
			  />
			</picture>
		  </div>
		</section>
  
		<section id="porfolio-types">
		  <div class="porfolio-container">
			<h2>Whiteboard Wonders</h2>
			<p>
			  Classic and clear, our whiteboard animations break down complex
			  ideas into fun, easy-to-understand drawings.
			</p>
			<div class="porfolio-grid">
			  <div class="porfolio-item">
				<iframe
				  loading="lazy"
				  title="Whiteboard"
				  src="https://player.vimeo.com/video/779836194?h=18d23dc7f7&amp;dnt=1&amp;app_id=122963"
				  frameborder="0"
				  allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
				  name="fitvid7"
				></iframe>
				<h3>Business Warriors</h3>
			  </div>
			  <div class="porfolio-item">
				<iframe
				  loading="lazy"
				  title="Whiteboard"
				  src="https://player.vimeo.com/video/779835400?h=46fce4db49&amp;dnt=1&amp;app_id=122963"
				  frameborder="0"
				  allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
				  name="fitvid7"
				></iframe>
				<h3>Conqueri</h3>
			  </div>
			  <div class="porfolio-item">
				<iframe
				  loading="lazy"
				  title="Whiteboard"
				  src="https://player.vimeo.com/video/779846542?h=c14561dd84&amp;dnt=1&amp;app_id=122963"
				  frameborder="0"
				  allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
				  name="fitvid7"
				></iframe>
				<h3>SocialMe</h3>
			  </div>
			</div>
		  </div>
  
		  <div class="porfolio-container">
			<h2>Explainer Essentials</h2>
			<p>
			  Need to get a point across? Our explainer videos are perfect for
			  making any topic interesting and easy to grasp.
			</p>
			<div class="porfolio-grid">
			  <div class="porfolio-item">
				<iframe
				  loading="lazy"
				  title="Explainer"
				  src="https://player.vimeo.com/video/779847028?h=86389aaa4e&amp;dnt=1&amp;app_id=122963"
				  frameborder="0"
				  allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
				  name="fitvid7"
				></iframe>
				<h3>Tax Claim Experts</h3>
			  </div>
  
			  <div class="porfolio-item">
				<iframe
				  loading="lazy"
				  title="Explainer"
				  src="https://player.vimeo.com/video/779837404?h=ee50de10d0&amp;dnt=1&amp;app_id=122963"
				  frameborder="0"
				  allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
				  name="fitvid7"
				></iframe>
				<h3>MedBuddy</h3>
  
			  </div>
			  <div class="porfolio-item">
				<iframe
				  loading="lazy"
				  title="Explainer"
				  src="https://player.vimeo.com/video/779836833?h=4fb17eba8c&amp;dnt=1&amp;app_id=122963"
				  frameborder="0"
				  allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
				  name="fitvid7"
				></iframe>
				<h3>Celebra</h3>
			  </div>
			  
			</div>
		  </div>
  
		  <div class="porfolio-container">
			<h2>Premium Animation</h2>
			<p>
			  For when you need that extra sparkle, our premium animations are all
			  about bringing high-quality, detailed stories to the screen.
			</p>
			<div class="porfolio-grid">
			  <div class="porfolio-item">
				<iframe
				  loading="lazy"
				  title="Whiteboard"
				  src="https://player.vimeo.com/video/779830854?h=5399429893&amp;dnt=1&amp;app_id=122963"
				  frameborder="0"
				  allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
				  name="fitvid7"
				></iframe>
				<h3>SoftCustom</h3>
			  </div>
			  <div class="porfolio-item">
				<iframe
				  loading="lazy"
				  title="Whiteboard"
				  src="https://player.vimeo.com/video/779829761?h=fb4ff15019&amp;dnt=1&amp;app_id=122963"
				  frameborder="0"
				  allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
				  name="fitvid7"
				></iframe>
				<h3>Burnit</h3>
			  </div>
			  <div class="porfolio-item">
				<iframe
				  loading="lazy"
				  title="Whiteboard"
				  src="https://player.vimeo.com/video/779828899?h=d1105f98ad&amp;dnt=1&amp;app_id=122963"
				  frameborder="0"
				  allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
				  name="fitvid7"
				></iframe>
				<h3>Agile</h3>
			  </div>
			  
			</div>
		  </div>
		</section>
  
		<section id="packages">
		  <div class="heading-icon">
			<img src={GiftIcon.src} loading="lazy" alt="Gift Icon" />
		  </div>
		  <h2>
			Select Your Perfect <br /><span class="text-w-color"
			  >Animation Package</span
			>
		  </h2>
		  <div class="packages-container">
			<div class="empty"></div>
			<div class="package">
			  <div>
				<h3>Whiteboard</h3>
				<div class="package-video">
				  <iframe
					loading="lazy"
					title="Whiteboard"
					src="https://player.vimeo.com/video/779846542?h=c14561dd84&amp;dnt=1&amp;app_id=122963"
					frameborder="0"
					allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
					name="fitvid7"
				  ></iframe>
				</div>
				<menu>
				  <li>High Converting Script</li>
				  <li>Powerful Voice-Over</li>
				  <li>Engaging Animation</li>
				  <li>Music & SFX</li>
				  <li>2x Revisions</li>
				  <li>4+ Weeks Delivery</li>
				</menu>
			  </div>
			  <div class="package-cta">
				<a class="btn btn-secondary" href="/contact" target="_blank"
				  >Get Started</a
				>
				<h4>£698/30 seconds</h4>
			  </div>
			</div>
			<div class="package">
			  <div>
				<h3>Explainer</h3>
				<div class="package-video">
				  <iframe
					loading="lazy"
					title="Explainer"
					src="https://player.vimeo.com/video/779837404?h=ee50de10d0&amp;dnt=1&amp;app_id=122963"
					frameborder="0"
					allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
					name="fitvid7"
				  ></iframe>
				</div>
				<menu>
				  <li>High Converting Script</li>
				  <li>Powerful Voice-Over</li>
				  <li>Engaging Animation</li>
				  <li>Music & SFX</li>
				  <li>2x Revisions</li>
				  <li>4+ Weeks Delivery</li>
				</menu>
			  </div>
			  <div class="package-cta">
				<a class="btn btn-secondary" href="/contact" target="_blank"
				  >Get Started</a
				>
				<h4>£1198/30 seconds</h4>
			  </div>
			</div>
			<div class="package">
			  <div>
				<h3 class="premium">Premium</h3>
				<div class="package-video">
				  <iframe
					loading="lazy"
					title="Premium"
					src="https://player.vimeo.com/video/779830854?h=5399429893&amp;dnt=1&amp;app_id=122963"
					frameborder="0"
					allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
					name="fitvid7"
				  ></iframe>
				</div>
				<menu>
				  <li>High Converting Script</li>
				  <li>Powerful Voice-Over</li>
				  <li>Engaging Animation</li>
				  <li>Music & SFX</li>
				  <li>2x Revisions</li>
				  <li>8+ Weeks Delivery</li>
				  <li class="premium">Premium Animation Team</li>
				  <li class="premium">Custom Graphics</li>
				</menu>
			  </div>
			  <div class="package-cta">
				<a class="btn btn-secondary" href="/contact" target="_blank"
				  >Get Started</a
				>
				<h4>£1998/30 seconds</h4>
			  </div>
			</div>
		  </div>
		</section>
  
		<section id="calendly">
		  <h2>
			<span>Need Clarity?</span> Book a Warm, <br />Informal Chat with Us!
		  </h2>
		  <div class="calendly-widget">
			<!-- Calendly inline widget begin -->
			<div
			  class="calendly-inline-widget"
			  data-url="https://calendly.com/jordan-elevatehubmedia/meet?hide_gdpr_banner=1&background_color=fcfcfc&text_color=020004&primary_color=020004"
			  style="min-width: 320px; height: 700px"
			></div>
			<script
			  type="text/javascript"
			  src="https://assets.calendly.com/assets/external/widget.js"
			  async
			></script>
			<!-- Calendly inline widget end -->
		  </div>
		</section>
  
		<!-- More sections as needed -->
	  </main>
</Layout>

<style>
	
</style>
