---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy Policy | ElevateHubMedia">
  <main>
    <section>
      <h1>Privacy Policy</h1>
    </section>

    <section>
      <h2>Introduction</h2>
      <p>
        At ElevateHubMedia, we are committed to protecting your privacy and
        personal information.
      </p>
    </section>
    <section>
      <h2>Information Collection</h2>
      <p>
        We collect your Name, Email, and Enquiry Message to better serve you.
      </p>
    </section>
    <section>
      <h2>Use of Information</h2>
      <p>
        The information we collect is used exclusively for communicating with
        you regarding our services.
      </p>
    </section>
    <section>
      <h2>Information Sharing</h2>
      <p>
        Your personal information is not shared with any third parties and is
        used solely for internal purposes.
      </p>
    </section>
    <section>
      <h2>Data Protection</h2>
      <p>We take measures to ensure your personal information is protected.</p>
    </section>
    <section>
      <h2>User Rights</h2>
      <p>
        If you wish to manage or delete your personal information, please
        contact us at jordan@elevatemediahub.com.
      </p>
    </section>
    <section>
      <h2>Cookies and Tracking Technologies</h2>
      <p>
        We use Google Analytics to understand how our website is used and
        cookies to enhance your experience.
      </p>
    </section>
    <section>
      <h2>Policy Updates</h2>
      <p>
        This policy may be updated periodically to reflect changes to our
        practices.
      </p>
    </section>
    <section>
      <h2>Contact Information</h2>
      <p>
        For any questions or concerns regarding our privacy practices, please
        contact us.
      </p>
    </section>

    <section>
      <p>&copy; 2024 ElevateHubMedia. All rights reserved.</p>
    </section>
  </main>
</Layout>

<style>
  h1 {
    padding-top: 8rem;
    font-size: 3.6rem;
    margin-bottom: 0.6em;
  }
  h2 {
    font-size: 2.8rem;
    margin-bottom: 0.4em;
  }
  section {
    padding-block: 2rem;
    background: none;
  }
</style>
