---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms and Conditions | ElevateHubMedia">
  <main>
    <section>
      <h1>Terms and Conditions</h1>
    </section>
    <section>
      <h2>Introduction</h2>
      <p>
        These Terms and Conditions govern your use of the ElevateHubMedia
        website and its services.
      </p>
    </section>
    <section>
      <h2>Use of the Website</h2>
      <p>
        This section outlines the acceptable use of our website and its content.
      </p>
    </section>
    <section>
      <h2>Intellectual Property</h2>
      <p>
        All content on this website is the exclusive property of
        ElevateHubMedia.
      </p>
    </section>
    <section>
      <h2>User Responsibilities</h2>
      <p>
        Users must provide accurate information and use the website legally.
      </p>
    </section>
    <section>
      <h2>Limitation of Liability</h2>
      <p>
        ElevateHubMedia is not liable for any damages arising from your use of
        the website.
      </p>
    </section>
    <section>
      <h2>Governing Law</h2>
      <p>The terms are governed by the laws of England.</p>
    </section>
    <section>
      <h2>Amendments</h2>
      <p>We reserve the right to update these terms at any time.</p>
    </section>
  </main>
</Layout>

<style>
  h1 {
    padding-top: 8rem;
    font-size: 3.6rem;
    margin-bottom: 0.6em;
  }
  h2 {
    font-size: 2.8rem;
    margin-bottom: 0.4em;
  }
  section {
    padding-block: 2rem;
    background: none;
  }
</style>
